body {
  margin: 0;
  background-image: url(/public/v627-aew-47-technologybackground.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#root {
  height: 100vh;
  display: flex;
}

#root > * {
  flex: 1;
  align-self: center;
}

@media only screen and (max-width: 768px) {
  #root {
    overflow: auto;
  }
}
